# Clean dataset

In the previous notebook, we used Web Scraping to collect information from Wikipedia webpages and combine them together in a .CSV file named 'Dataset'. However, this dataset is not available in the most useful format and must be cleaned before any analysis could be performed. Such a scenario is expected to occur as the web pages aren't always designed to make extracting data easy.

Here, we'll understand the dataset columns and try to remove any unnecessary strings and values that bring no value to the dataset.

## Import libraries and read CSV file

We'll first import the Pandas library which enables us to manipulate and work with the dataset. Then, we'll simply read the dataset file we created.

In [0]:
import re
import numpy as np
import pandas as pd

dataset = pd.read_csv("Dataset.csv")
dataset.head(5)

## Replace the headings

We first begin by replacing the headings of the columns such that they reflect the data in them better. We change the text for the first column to 'Country', the third column to 'Percentage of World Population' and fourth column to 'Total Area (km2)'.

In [0]:
# Your code goes here

## Analysing the dataset

We see that almost all columns have cells which have data inside parentheses and square brackets which is not required. Thus, we can first remove all paranthesis, square brackets and the content inside them.

In [0]:
# Your code goes here

Next, we do not need '%' sign in either column 3 or 5, thus, we can strip the cells of it.

In [0]:
# Your code goes here

Next, we remove commas from Population column.

In [0]:
# Your code goes here

Now, we will explore the area column. Initially, we see that the information is represented in two units: sq mi and km2. We need to convert all values to km2.

The formula to convert 'sq mi' to km2 is to multiply the value by 2.58999.

First, we check if the cell has the units as 'sq mi', then we multiply it with 2.589999, convert it to integer and save it back to the cell else we simply convert it into integer. Before this, on taking a closer look at the values, some cells have range of areas and as a result we need to split the data at '-' and then take the first value to continue further.

In [0]:
# Your code goes here

Let's analyse the 'Percentage Water' column further. 
For Algeria, Afghanistan, and some other countries, the value is negligible. Hence, in order to retain data and not drop these rows, we will mark these cells with 0.0.
Chile has the character 'b' in the end which needs to be removed.
For the columns where the value is more than 100, the actual values were missing and other content has been read instead. Thus, we must remove such rows due to lack of information.

In [0]:
# Your code goes here

Total GDP includes the values in the form of trillions, billions and millions. We can remove '$' and convert the words to numbers.

In [0]:
#Use this code
dataset['Total Nominal GDP'] = dataset['Total Nominal GDP'].str.replace('$', '')

for x in range(len(dataset['Total Nominal GDP'])):
    gdp = dataset.iloc[x]['Total Nominal GDP']
    if ('trillion' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000000000)
    elif ('billion' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000000)
    elif ('million' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000)
    else:
        gdp = int(re.sub(r'[^0-9.]+', '', gdp))
    dataset.iloc[x]['Total Nominal GDP'] = gdp

We can remove the '$' sign as well as comma from the Per Capita GDP as well.

In [0]:
#Use this code
dataset['Per Capita GDP'] = dataset['Per Capita GDP'].str.replace(r'[^0-9.]+', '')
dataset.head(10)

In [0]:
#Use this code
dataset.to_csv("Final_dataset.csv", index = False)

## Conclusion

We have iterated through all columns of the dataset and removed unnecesaary characters, and unified all data into a common format. Each column presented its own set of difficulties that had to be tackled with.
The final dataset is ready which we can use for further analysis.